@charset "UTF-8";

body {
	
	font-family: 'dohyeon';
	background-color: black;
	color: white;
	/* background-repeat: no-repeat;
    background-size: 100%; */
}

/* 상단 헤더 */
.header {
	background-color: black;
    padding: 10px;
    text-align: center;
    position: relative;
}
/* 하단 풋터 */
.footer {
	font-family: 'yeonsung';
    width: 93%;
	padding-top: 25px;
	background-color: black;
	text-align: center;
	/* position:fixed;
    bottom:0; */
}

.logo {
	text-align: center;
	width: 120px;
}

.address, .footer_menu {
	list-style: none;
}

.address span, .footer_menu span {
	color: #c0c0c0;
	font-weight: 800;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 10px;
	margin-bottom: 20px;
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 3px;
}

.address p, .footer_menu li a {
	color: #c0c0c0;
	letter-spacing: 2px;
	font-size: 15px;
	text-decoration: none;
}
/* 폰트 모음 */

@font-face {
	font-family: 'dohyeon';
	src: url(../fonts/BMDOHYEON_ttf.ttf);
}
@font-face {
	font-family: 'hanna';
	src: url(../fonts/BMHANNA.ttf);
}@font-face {
	font-family: 'jua';
	src: url(../fonts/BMJUA_ttf.ttf);
}@font-face {
	font-family: 'kiranghaerang';
	src: url(../fonts/BMKIRANGHAERANG-TTF.ttf);
}@font-face {
	font-family: 'yeonsung';
	src: url(../fonts/BMYEONSUNG_ttf.ttf);
}@font-face {
	font-family: 'oseong-bold';
	src: url(../fonts/OSeongandHanEum-Bold.ttf);
}@font-face {
	font-family: 'oseong';
	src: url(../fonts/OSeongandHanEum-Regular.ttf);
}