@charset "UTF-8";

.sidenav {
	font-family: 'hanna';
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -155px;
    width: 16%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
  	grid-template-areas: 
    	"menu1 menu2 menu2 menu2 menu2 menu2";
}

.sidenav>div{
	text-align: center;
}

.menu_grid1 {
  grid-area: menu1;
}
.menu_grid2 {
  grid-area: menu2;
}
.sidenav span{    
	position: fixed;
	font-size:30px;
	cursor:pointer
}

.sidenav a {
    padding: 10% 10%;
    text-decoration: none;
    font-size: 25px;
    color: #a5a5a5;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav a:after {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
    margin-right: 6%;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}